@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  .header{
    margin-bottom: 0;
  }
  nav{
   
    background-image:  url("images/header\ pattern\ image.png") 0% 0% ;
    background-color: #25313F;
    height: 56px;
    /* 70px */
    width: 100%;
    /* border-bottom: 2px solid #c1c1c1; */
   
  }
  .logo{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    line-height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: bold;
  }
  
  nav ul{
    float: right;
    /* margin-right: 32px; */
    height: 18px;
  }
  li{
    display: inline-block;
    line-height: 60px;
    /* padding: 16px 0; */
    margin: 0 5px;
  }
  nav ul li{
    display: inline-block;
    line-height: 60px;
    /* padding: 16px 0; */
    margin: 0 14px;
  }
  nav ul li a{
    /* color: white; */
    color: #3FD28B;
    font-weight: 500;
    font-size: 17px;
    padding: 11.8px 13px;
    /* border-radius: 3px; */
    text-transform: uppercase;
  }
  a.active,a:hover{
    color: white;
    border-bottom: 4px solid white;
    /* background: #8a234f; */
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
  }
  
  .logoDesign{
    display: none;
  }
  
  .nav-icons{
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 1010px){
    nav ul li a{
        padding: 11.8px 0;
    }
    .header{
      padding-bottom: 50px;
    }
    nav{
      position: absolute;
      z-index:2;
    }
    .logo{
      font-size: 20px;
      padding: 10px 7px;  
      }
    /* nav ul li a{
      font-size: 16px;
    } */
  }
  
  
  @media (max-width: 864px){
    .header{
      padding-bottom: 50px;
    }
    nav{
      position: absolute;
      z-index:2;
    }
  
    
    .checkbtn{
      display: block;
    }
  
    .logoDesign{
      margin-top: 200px;
      margin-left: auto;
      margin-right: auto;
      width:90px;
      height:90px;
      display: block;
    }
  
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
  
      background: #232b2b;
      top: 56px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    li{
        margin-right: 26px;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
    }
    nav ul li a{
      font-weight: 500;
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  
  }
  
  @media (max-width: 320px){
    .header{
      padding-bottom: 50px;
    }
    nav{
      position: absolute;
      z-index:2;
    }
  
  label.logo{
    font-size: 30px;
    padding: 0 20px;
  }
  }
  